{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{output.title}}{% endblock %}</h2>
  
{% endblock %}

{% block content %}

<p>Solar PV output in the UK since 2021. Units are GWh. Source of data: <a href="https://www.solar.sheffield.ac.uk/pvlive/">University of Sheffield Solar</a>. </p>

<div>
  <img alt="chart showning solar generation overtime in the UK" src="{{ url_for('static', filename='images/solar1.png') }}">

  <img alt="chart showing solar generation per year, each year has one value per month" src="{{ url_for('static', filename='images/solar2.png') }}">
</div>

 
  <h3>Solar output per month</h3>
  {% for table in output.table1 %}
        
            {{ table|safe }}
  {% endfor %}

  <p>Charts updated: {{output.latest[0][0]}}. Code <a href="https://github.com/chriskeene/envstats-flask">available on Github</a>. </p> 

{% endblock %}

