<!doctype html>
<head>
<title>{% block title %}{% endblock %} - envstats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='simple.min.css') }}">
</head>
<body>
<header>
  <h1>Enviromental stats</h1>
  {% block header %}{% endblock %}
</header>
<main>
<section class="content">

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</main>

<pre>{{ output|pprint() }}</pre>
<footer>Enviromental stats</footer>
</body>